.App {
  text-align: center;
}

.App-logo {
  height: 40vmin
  
}

.mainImg{
  border: rgb(134, 134, 134) solid 1px
}



.App-link {
  color: #61dafb;
}

.submit{
  font-weight: bold;
  color:green
 
}

.watched{
  margin: 5px
}

.submit{
  margin: 5px
}

.DeleteAll{
  margin: 5px
}


.movieDetails{
 border: black 1px solid;
 border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.addMovieForm{
 border: black 1px solid;
 border-radius: 10px;
  padding: 5px;
  margin: 5px;
 
}

.suggestion2{
  border: black 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.footer{
  font-weight: bold;
}